.header, .marketing, .footer {
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

  .header {
	border-bottom: 5px solid #e5e5e5;
} 

.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 0px;
}
 
 
.logo{
	margin-top:0;
	height: 70px;
	width: 150px;
}

.search-input{
	display:inline-block;
}

.search-textbox{
	width:150px;
}